
MNIST/models/crs5/1/bst_dec.pth
*.pth
MNIST/trn_img/0_trn_img.txt
MNIST/trn_img/1_trn_img.txt
MNIST/trn_img/2_trn_img.txt
MNIST/trn_img/3_trn_img.txt
MNIST/trn_img/4_trn_img.txt
MNIST/trn_img_f/0_trn_img.txt
MNIST/trn_img_f/1_trn_img.txt
MNIST/trn_img_f/2_trn_img.txt
MNIST/trn_img_f/3_trn_img.txt
MNIST/trn_img_f/4_trn_img.txt
MNIST/trn_lab/0_trn_lab.txt
MNIST/trn_lab/1_trn_lab.txt
MNIST/trn_lab/2_trn_lab.txt
MNIST/trn_lab/3_trn_lab.txt
MNIST/trn_lab/4_trn_lab.txt
MNIST/trn_lab_f/0_trn_lab.txt
MNIST/trn_lab_f/1_trn_lab.txt
MNIST/trn_lab_f/2_trn_lab.txt
MNIST/trn_lab_f/3_trn_lab.txt
MNIST/trn_lab_f/4_trn_lab.txt
data_fashion/FashionMNIST/raw/train-labels-idx1-ubyte.gz
data_fashion/FashionMNIST/raw/train-labels-idx1-ubyte
data_fashion/FashionMNIST/raw/train-images-idx3-ubyte.gz
data_fashion/FashionMNIST/raw/train-images-idx3-ubyte
data_fashion/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data_fashion/FashionMNIST/raw/t10k-labels-idx1-ubyte
data_fashion/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data_fashion/FashionMNIST/raw/t10k-images-idx3-ubyte
data_fashion/FashionMNIST/processed/training.pt
data_fashion/FashionMNIST/processed/test.pt
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/processed/training.pt
data/FashionMNIST/processed/test.pt
FashionMNIST/processed/test.pt
FashionMNIST/processed/training.pt
FashionMNIST/raw/t10k-images-idx3-ubyte
FashionMNIST/raw/t10k-images-idx3-ubyte.gz
FashionMNIST/raw/t10k-labels-idx1-ubyte
FashionMNIST/raw/train-images-idx3-ubyte
FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
FashionMNIST/raw/train-images-idx3-ubyte.gz
FashionMNIST/raw/train-labels-idx1-ubyte
FashionMNIST/raw/train-labels-idx1-ubyte.gz
FMNIST/trn_img/0_trn_img.txt
FMNIST/trn_img/1_trn_img.txt
FMNIST/trn_img/2_trn_img.txt
FMNIST/trn_img/3_trn_img.txt
FMNIST/trn_img/4_trn_img.txt
FMNIST/trn_img_f/0_trn_img.txt
FMNIST/trn_img_f/1_trn_img.txt
FMNIST/trn_img_f/2_trn_img.txt
FMNIST/trn_img_f/3_trn_img.txt
FMNIST/trn_img_f/4_trn_img.txt
FMNIST/trn_lab/0_trn_lab.txt
FMNIST/trn_lab/1_trn_lab.txt
FMNIST/trn_lab/2_trn_lab.txt
FMNIST/trn_lab/3_trn_lab.txt
FMNIST/trn_lab/4_trn_lab.txt
FMNIST/trn_lab_f/0_trn_lab.txt
FMNIST/trn_lab_f/1_trn_lab.txt
FMNIST/trn_lab_f/2_trn_lab.txt
FMNIST/trn_lab_f/3_trn_lab.txt
FMNIST/trn_lab_f/4_trn_lab.txt
FMNIST/trn_lab_f - Copy/4_trn_lab.txt
FMNIST/trn_lab_f - Copy/3_trn_lab.txt
FMNIST/trn_lab_f - Copy/2_trn_lab.txt
FMNIST/trn_lab_f - Copy/1_trn_lab.txt
FMNIST/trn_lab_f - Copy/0_trn_lab.txt
FMNIST/trn_img_f - Copy/4_trn_img.txt
FMNIST/trn_img_f - Copy/3_trn_img.txt
FMNIST/trn_img_f - Copy/2_trn_img.txt
FMNIST/trn_img_f - Copy/1_trn_img.txt
FMNIST/trn_img_f - Copy/0_trn_img.txt
