
MNIST/models/crs5/1/bst_dec.pth
*.pth
MNIST/trn_img/0_trn_img.txt
MNIST/trn_img/1_trn_img.txt
MNIST/trn_img/2_trn_img.txt
MNIST/trn_img/3_trn_img.txt
MNIST/trn_img/4_trn_img.txt
MNIST/trn_img_f/0_trn_img.txt
MNIST/trn_img_f/1_trn_img.txt
MNIST/trn_img_f/2_trn_img.txt
MNIST/trn_img_f/3_trn_img.txt
MNIST/trn_img_f/4_trn_img.txt
MNIST/trn_lab/0_trn_lab.txt
MNIST/trn_lab/1_trn_lab.txt
MNIST/trn_lab/2_trn_lab.txt
MNIST/trn_lab/3_trn_lab.txt
MNIST/trn_lab/4_trn_lab.txt
MNIST/trn_lab_f/0_trn_lab.txt
MNIST/trn_lab_f/1_trn_lab.txt
MNIST/trn_lab_f/2_trn_lab.txt
MNIST/trn_lab_f/3_trn_lab.txt
MNIST/trn_lab_f/4_trn_lab.txt
